Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Left 
BreakBeforeBraces: Allman
ColumnLimit: 120
InsertNewlineAtEOF: true
IndentCaseLabels: true
BinPackParameters: false
BinPackArguments: false
